body{
    display:block;
}
nav{
    display:flex;
    width:100%;
    justify-content: space-between;
    height: 5rem;
    background-color: grey;
    z-index:0;
}
.info{
    width:50%;
    display: flex;
    align-items: center ;
    justify-content: space-around;
    color:black;
}
.info>div{
    font-size: 120%;
    height:70%;
    display:flex;
    align-items: center;
    padding: 1%;
}
#abt-sub{
    position: absolute;
    top:90%;
    left: 65%;
    display: none;
}
p{
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.sectionA{
    display:flex;
    position: relative;
    top:4rem;
}
h2{
    display:block;
    font-size:1.5rem;
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight:bold;
}
div{
    display: block;
}
element.style{
    text-align: center;
    margin-top: 2%;
    font-size: 250%;
    margin-top: 1%;
    margin-right: 4%;
    margin-bottom: 1%;
    margin-left: 4%;
}
i{
    font-style: italic;
}
.sectionB{
    position: relative;
    top:4rem;
    background-color: grey;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
  appearance: auto; 
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 2px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  background-color: whitesmoke;
  margin:0em;
  padding:1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}
img{
    
    overflow: clip;
    
}
h4{
    display: block;
    margin-block-start:1.33em ;
    margin-block-end: 1.33em;
    margin-inline-start:0px;
    margin-inline-end:0px;
    color:black;
    font-weight: bold;
}
footer{
    position: relative;
    top:4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite ;
    width:100%;
}
